 h2 {
   text-align: center;
   color: #333;
 }
.heatmap-container {
  padding: 3rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 1600px;
  margin: rem auto;
}

.heatmap-iframe-wrapper {
  margin-top: 1.5rem;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 32px rgba(0,0,0,0.15);
}

